@import url('https://fonts.googleapis.com/css?family=Monda|Permanent+Marker|Work+Sans');

nav {
  display: flex;
  background-color: black;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 10px;
  font-family: "Work Sans";
  font-size: 14px;
  padding: 0 15px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: blue;
}

a:active {
    color: blue;
}

.top-container {
  /*position: relative;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: url(Bled-Cropped.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  width: 100%;
}

.background {
  max-width: 100%;
  height: auto;
  position: relative;
}

h1 {
  font-family: "Permanent Marker";
  font-size: 60px;
  /*width: 100%;
  height: 100%;      /* this might need to go*/
  /*top: 0;
  left: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;*/
  /*text-align: center;*/
}

h1 span {
  background: rgba(0, 0, 0, 1);
  color: white;
  padding: 10px;
}

.divider {
  background-color: black;
  color: white;
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
  font-size: 40px;
  padding: 20px 0px;
}

.col {
  display: flex;
}

h2 {
  font-family: Monda;
}

.costa-rica-img {
  height: 200px;
  max-width: 100%;
}

.japan {
  display: flex;

}
.japan-img {
  height: 200px;
  max-width: 100%;
  justify-content: center;
}

.scotland-img {
  height: 200px;
  max-width: 100%;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  color: white;
  font-family: "Work Sans";
  font-size: 12px;
}

footer a {
  color: white;
}
